* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    color: whitesmoke;
    letter-spacing: 0.05em;
}

body {
    background-color: #a34c55;
}

header {
    width: fit-content;
    margin: 30px auto;
}

#libraryContainer {
    width: 75vw;
    margin: 0 auto;
}

#library {
    display: flex;
    flex-wrap: wrap;
}

.book {
    display: grid;
    grid-template-rows: 50px repeat(4, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    transition: background-color 1s;
    background-color: #A23E48;
}

.book:hover {
    background-color: #895056;
}

.book h5 {
    font-size: 1em;
}

.book h4 {
    font-size: 0.8em;
    font-weight: normal;
}

.book h5 {
    font-size: 0.8em;
    font-weight: normal;
}

.book button {
    width: 75px;
    height: 30px;
    color: white;
    border: 1px solid black;
    outline: none;
}

.book button:hover {
    cursor: pointer;
    border: 2px solid black;
}

#addBookButton {
    display: block;
    margin: 10px auto;
    width: 80px;
    height: 45px;
    background-color: greenyellow;
    color: black;
    outline: none;
    border: 1px solid black;
    font-weight: bold;
}

#addBookButton:hover {
    cursor: pointer;
    border: 2px solid black;
}

#addBookFormContainer {
    display: none;
    width: fit-content;
    margin: 30px auto 0px auto;
}

#addBookForm {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 40px 40px 40px 25px 30px;
    text-align: center;
}

#addBookForm input {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid black;
    outline: none;
}

#addBookForm input:focus {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 2px solid black;
    outline: none;
}

#addBookForm input[type=checkbox] {
    margin: 0 auto;
    width: 20px;
    height: 20px;
}

#addBookForm #checkbox {
    display: flex;
    align-items: center;
}

#submitButton {
    display: block;
    margin: 10px auto;
    width: 80px;
    height: 45px;
    background-color: crimson;
    color: white;
    outline: none;
    border: 1px solid black;
    font-weight: bold;
}

#submitButton:hover {
    cursor: pointer;
    border: 2px solid black;
}